.login {
	width: 600px;
	border: 1px solid greenyellow;
	margin: auto;
	margin-top: 20%;
}
.login__body {
	padding: 50px 30px;
}
.login__btn {
	position: relative;
	display: flex;
	justify-items: space-between;
	font-size: 16px;
	/* width: 150px; */
	/* height: 30px; */
	padding: 10px 70px;
	border-radius: 20px;
}
.login__error {
	display: inline-block;
	background-color: rgb(138, 6, 6);
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 20px;
}
.login__body input {
	font-size: 16px;
	display: block;
	margin: 20px auto;
	padding: 10px 0 10px 20px;
	width: 100%;
	box-sizing: border-box;
}
.login__header {
	text-align: middle;
	padding: 20px;
}
.login__header__right,
.login__header__right:visited {
	float: right;
	margin-right: 20px;
	text-decoration: none;
	color: inherit;
	transition: all 0.4s;
}
.login__header__right:hover {
	border-bottom: 1px solid black;
}
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 70%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 1px solid #f6f;
	border-top-color: #0e0;
	border-right-color: #0dd;
	border-bottom-color: #f90;
	animation: spinner 0.6s linear infinite;
}
